@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default, winter;
}

@plugin "daisyui/theme" {
  name: "light";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(98% 0 0);
  --color-base-300: #f6f5f4;
  --color-base-content: oklch(21% 0.006 285.885);
  --color-primary: #0075de;
  --color-primary-content: #fff;
  --color-secondary: #e6f3fe;
  --color-secondary-content: #005bab;
  --color-accent: oklch(54% 0.245 262.881);
  --color-accent-content: oklch(100% 0.003 247.858);
  --color-neutral: oklch(14% 0.005 285.823);
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(63% 0.237 25.331);
  --color-error-content: oklch(100% 0.003 247.858);
  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

@theme {
  --font-display: "Satoshi", "sans-serif";

  --animate-shimmer: shimmer 3s ease-out infinite alternate;
  --animate-opacity: opacity 0.25s ease-in-out;
  --animate-appearFromRight: appearFromRight 300ms ease-in-out;
  --animate-wiggle: wiggle 1.5s ease-in-out infinite;
  --animate-popup: popup 0.25s ease-in-out;

  @keyframes shimmer {
    0% {
      background-position: 0 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  @keyframes opacity {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes appearFromRight {
    0% {
      opacity: 0.3;
      transform: translate(15%, 0px);
    }
    100% {
      opacity: 1;
      transform: translate(0);
    }
  }

  @keyframes wiggle {
    0%,
    20%,
    80%,
    100% {
      transform: rotate(0deg);
    }
    30%,
    60% {
      transform: rotate(-2deg);
    }
    40%,
    70% {
      transform: rotate(2deg);
    }
    45% {
      transform: rotate(-4deg);
    }
    55% {
      transform: rotate(4deg);
    }
  }

  @keyframes popup {
    0% {
      transform: scale(0.8);
      opacity: 0.8;
    }
    50% {
      transform: scale(1.1);
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
}

html,
body {
  scroll-behavior: smooth !important;
}

progress::-webkit-progress-value {
  transition: 0.6s width ease-out;
}

.btn-gradient {
  background: linear-gradient(
    60deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
  ) !important;
  background-size: 300% 300% !important;
  animation: var(--animate-shimmer) !important;
  border: 0 !important;
  border-color: transparent !important;
  color: white !important;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1) !important;
}

.btn-gradient:hover {
  filter: saturate(1.2) !important;
}

.btn-gradient:disabled {
  background: rgb(107 114 128 / 0.3) !important;
  color: rgb(156 163 175) !important;
}

.btn {
  text-transform: capitalize !important;
}
